<script>
    $(() => {
      if (new URL(document.location).searchParams.get('bad')) {
        $('#badalert').show();
      } else {
        $('#badalert').hide();
      }
    });
  </script>

<h3>Login</h3>

<div id="badalert" class="alert alert-primary" role="alert">
  Incorrect username/password
</div>

<form id="base" action="/login" method="POST">
  <input type="text" class="form-control" name="username" id="username" placeholder="Username"> 
  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/register">Register</a>
